* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
}
body {
  font-size: 14px;
  line-height: 22px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.container {
  max-width: 959px;
  margin: auto;
}
.block {
  background-color: #777777;
}
.block_light {
  background-color: #dcdcdc;
  color: #777777;
}
.line {
  border-bottom: 1px solid #777777;
}
.head {
  min-height: 150px;
}
.head__wrap {
  display: flex;
  justify-content: space-between;
  padding: 25px 0 19px 0;
}
.head__logo {
  min-height: 106px;
  width: 121px;
}
.head__contact {
  min-height: 106px;
  width: 278px;
}
.head__more {
  min-height: 106px;
  width: 513px;
}
.more {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 10px 20px;
}
.more__link {
  color: #ffffff;
}
.more__phone {
  text-decoration: none;
}
.content {
  min-height: 816px;
}
.content__wrap {
  display: flex;
  justify-content: space-between;
  padding: 21px 0 25px 0;
}
.content__left {
  max-width: 183px;
  min-height: 770px;
}
.content__center {
  max-width: 755px;
  min-height: 770px;
}
.content__left-menu {
  min-height: 334px;
}
.content__green {
  min-height: 131px;
}
.content-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left-menu {
  padding: 15px;
}
.left-menu__title {
  margin: 0;
}
.left-menu__link {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
}
.content-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.notation {
  min-height: 208px;
  min-width: 755px;
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.notation__title {
  margin: 0;
}
.notation__list {
  list-style-type: square;
  margin: 0;
}
.notation__description {
  margin: 0;
}
.photos {
  min-height: 323px;
  min-width: 755px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.photos__item {
  display: inline-block;
  min-width: 133px;
  min-height: 151px;
  margin-right: 22px;
}
.photos__item:nth-child(5n) {
  margin-right: 0;
}
.description {
  min-height: 200px;
  min-width: 755px;
  display: flex;
  justify-content: space-between;
}
.description__product {
  max-width: 367px;
  min-height: 200px;
  padding: 20px 17px 0 15px;
}
.description__promotion {
  max-width: 371px;
  min-height: 200px;
  padding: 20px 17px 0 15px;
}
.footer {
  min-height: 228px;
}
.footer__wrap {
  display: flex;
  justify-content: space-between;
  padding: 23px 0 25px 0;
}
.footer__left {
  min-height: 179px;
  width: 297px;
}
.footer__center {
  min-height: 179px;
  width: 297px;
}
.footer__right {
  min-height: 179px;
  width: 308px;
}
.footer-left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 180px;
  padding: 12px 10px 10px 20px;
}
.footer-left__item {
  padding-left: 15px;
}
.footer-center {
  padding: 10px 10px;
}
.footer-center__list {
  list-style-type: square;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-center__item {
  padding: 0 0 0 17px;
}
.footer-center__item:before {
  content: "";
  display: inline-block;
  height: 6px;
  width: 6px;
  vertical-align: middle;
  background-color: #ffffff;
  margin-right: 3px;
}
.footer-center__link {
  text-decoration: none;
  color: #ffffff;
}
.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-right__top {
  min-height: 75px;
}
.footer-right__bottom {
  min-height: 75px;
}
