.content {
  min-height: 816px;
  &__wrap {
    display: flex;
    justify-content: space-between;
    padding: 21px 0 25px 0;
  }
  &__left {
    max-width: 183px;
    min-height: 770px;
  }
  &__center {
    max-width: 755px;
    min-height: 770px;
  }
  &__left-menu {
    min-height: 334px;
  }
  &__green {
    min-height: 131px;
  }
}

.content-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-menu {
  padding: 15px;
  &__title {
    margin: 0;
  }
  &__link {
    color: @text-color-light;
    text-decoration: none;
    display: inline-block;
  }
}

.content-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.notation {
  min-height: 208px;
  min-width: 755px;
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__title {
    margin: 0;
  }
  &__list {
    list-style-type: square;
    margin: 0;
  }
  &__description {
    margin: 0;
  }
}

.photos {
  min-height: 323px;
  min-width: 755px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  &__item {
    display: inline-block;
    min-width: 133px;
    min-height: 151px;
    margin-right: 22px;
    &:nth-child(5n) {
      margin-right: 0;
    }
  }
}

.description {
  min-height: 200px;
  min-width: 755px;
  display: flex;
  justify-content: space-between;
  &__product {
    max-width: 367px;
    min-height: 200px;
    padding: 20px 17px 0 15px;
  }
  &__promotion {
    max-width: 371px;
    min-height: 200px;
    padding: 20px 17px 0 15px;
  }
}
