.footer {
  min-height: 228px;
  &__wrap {
    display: flex;
    justify-content: space-between;
    padding: 23px 0 25px 0;
  }
  &__left {
    min-height: 179px;
    width: 297px;
  }
  &__center {
    min-height: 179px;
    width: 297px;
  }
  &__right {
    min-height: 179px;
    width: 308px;
  }
}

.footer-left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 180px;
  padding: 12px 10px 10px 20px;
  &__item {
    padding-left: 15px;
  }
}

.footer-center {
  padding: 10px 10px;
  &__list {
    list-style-type: square;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__item {
    padding: 0 0 0 17px;
    &:before {
      content: "";
      display: inline-block;
      height: 6px;
      width: 6px;
      vertical-align: middle;
      background-color: #ffffff;
      margin-right: 3px;
    }
  }
  &__link {
    text-decoration: none;
    color: @text-color-light;
  }
}

.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__top {
    min-height: 75px;
  }
  &__bottom {
    min-height: 75px;
  }
}
