* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-size: 14px;
  line-height: 22px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  color: @text-color-light;
}

.container {
  max-width: 959px;
  margin: auto;
}

.block {
  background-color: @background-dark;
  &_light {
    background-color: @background-light;
    color: @text-color;
  }
}

.line {
  border-bottom: 1px solid @background-dark;
}
