.head {
  min-height: 150px;
  &__wrap {
    display: flex;
    justify-content: space-between;
    padding: 25px 0 19px 0;
  }
  &__logo {
    min-height: 106px;
    width: 121px;
  }
  &__contact {
    min-height: 106px;
    width: 278px;
  }
  &__more {
    min-height: 106px;
    width: 513px;
  }
}

.more {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 10px 20px;
  &__link {
    color: @text-color-light;
  }
  &__phone {
    text-decoration: none;
  }
}
